<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtj6O73V4UxjPG_cVWSsJcwq9X9UHr8No</string>
	<key>GCM_SENDER_ID</key>
	<string>305877553588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDelivery</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-app-d7de2</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-app-d7de2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305877553588:ios:6d55145c71117ed0e4a2e1</string>
</dict>
</plist>